.app{
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: #fff;
}

.main {
  width: 75%;
  background: url("https://i.ytimg.com/vi/yQbJRGs0fy8/maxresdefault.jpg") center;
  display: flex;
  flex-direction: column;
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList{
  list-style: none;
  width: 100%;
  padding: 20px;

}

.moneyListItem{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal
}

.moneyListItemNumber{
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.moneyListItemAmount{
  font-size: 20px;
  font-weight: 300;
}

